body{
    background-color: pink;
    width: 100%;
    height: 1000px;
}
.input-wrapper{
    display: grid;
    margin: auto;
    width: 400px;
    height: 150px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.appearing-block{
    grid-column-start: 1;
    grid-row-start: 1;
    display: inline-flex;
}
.paragraph{
grid-row-start: 3;
}
.input-on-focus{
    border: 3px solid green;
}
.input-on-blur{
    border:none;
}
.button-properties{
    background-color: aqua;
    display: inline-flex;
    border: 1px solid;
    width: 15px;
    padding: 3px;
    border-radius: 50%;
    outline: none;
}
.red-border{
    border: 1px solid red;
}

.d-none{
    display: none;
}